div{
    display: inline-block;
    width:200px;
    height:350px;
    text-align: center;
    background-color: pink;
    color:whitesmoke;
    font-size: 45px;
    margin: 25px;
    padding:10px;
    border:10px solid lavenderblush;
    border-radius: 10px 50px;
    background-image: url(../Images/Image2.png);
    object-fit: fill;
    background-size: contain;
    background-size: cover;
}
.div1{
    color: whitesmoke;
}
.bg-yellow{
    text-align: center;
    display: inline-block;
    background-color: yellow;
}
#d1{
    text-align: center;
    display: inline-block;
    background-color: azure;
}
.a1{
    display: inline-block;
    text-align: center;
    color: black;
}
#Img1{
    background-image: url(../Images/Image3.jpg);
    background-size: contain;
    background-size: cover;
}
#Img2{
    background-image: url(../Images/Image1.jpeg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
div:hover{
    background-image: url(../Images/Image5.jpg);
    background-size: contain;
    background-size: cover;
}
#AboutIT{
    width:200px;
    height:200px;
    color:pink;
    overflow:scroll;
    overflow-wrap: break-word;
    float:left;
    text-align: justify;
    padding: 5px;
}
h1{
    color:brown;
    text-align: center;
}