/* common css */

body{
    background-color: white;
    margin: 0px;
}
/* *{
box-sizing: border-box;
} */
.header{
    background-color: gray;
    color: white ;
   
    width: 100%;
   
    height: 50px;
}
.logo{
    float: left; 
    width: 20px;
    padding-left: 10px;
    line-height: 50px;
    
}
.nav1{
    float: right;
   width: 50px;
   margin-right: 50px;
   line-height: 50px;
}
/* Banner */
.sec1{
    height: 100px;
    width: 100%;
    background-color: gray;
    margin-top: 10px;

}
.heading p{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: white;
}
.sec2{
    height: 100px;
    width: 100%;
    background-color: gray;
    margin-top: 20px;
}
.intro p{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: white;
}
.container{

    height: 200px;
    width: 100%;
    margin-top: 10px;
}
.box{
    float: left;
    text-align: center;
    font-size: 40px;
    padding: 10px;
   
}
.b1{
    height: 350px;
    width: 335px;
    background-color: darkcyan;
    padding-top: 20px;
    color: white;
    padding-left: 10px;

}
.b2{
    height: 350px;
    width: 335px;
    background-color: palevioletred;
    padding-top: 20px;
    color: white;
    
}
.b3{
    height: 350px;
    width: 335px;
    background-color: darkcyan;
    padding-top: 20px;
    color: white;
}
.footer1{
    background-color: gray;
    color: white ;
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: 60px;
    height: 50px;
    clear: both;
    
    
}
